<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Summarizer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Summarizer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
                  
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <h2>Enter text input</h2>
      <form action="{{ url_for('predict')}}"method="POST">
        <div class="mb-3">
          <label for="input" class="form-label">Please avoid using punctuations.</label>
          <input
            type="text"
            class="form-control"
            name="input"
            id="input"
            aria-describedby="emailHelp"
          />
        </div>
        <!-- <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" name="desc" class="form-control" id="desc" />
        </div> -->
    
        <button type="submit" class="btn btn-outline-success">Summarize</button>
      </form>

      <!-- <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="experience" placeholder="Experience" required="required" />
          <input type="text" name="test_score" placeholder="Test Score" required="required" />
      <input type="text" name="interview_score" placeholder="Interview Score" required="required" />
  
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form> -->
    </div>
    <div class="container my-5">
      <h2>Text Summary</h2>
      <div>
        {{ summary }}
      </div>
      <!-- {% if allTodo|length==0 %}
      <div class="alert alert-warning alert-dismiss" role="alert">
        No tasks found. Make your Todo list by using above form.
      </div>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in allTodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
              <a
                href="/delete/{{todo.item}}"
                type="button"
                class="btn btn-outline-danger btn-sm mx-1"
                >Delete</a
              >
              <a
                href="/update/{{todo.item}}"
                type="button"
                class="btn btn-outline-warning btn-sm mx-1"
                >Update</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %} -->
    </div>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>